{% load static %}
<!DOCTYPE html>
<html lang="pt-BR">
  <head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1" />
    <title>ECharts</title>
    <script src="{% static 'app/js/echarts.min.js' %}"></script>
    <script src="{% static 'app/js/ferias.js' %}"></script>
    <link href="{% static 'app/css/ferias.css' %}" rel="stylesheet" />
  </head>
  <body>
    <div class="stage" id="stage">
      <section class="kpi purple">
        <div class="icon">
          <img src="{% static 'app/icons/user.svg' %}" alt="User Icon" width="32" height="32">
        </div>
        <div>
          <h3>Total de Colaboradores</h3>
          <div class="value" id="kpi-total-collaborators"></div>
        </div>
      </section>
      <section class="kpi red">
        <div class="icon">
          <img src="{% static 'app/icons/error.svg' %}" alt="User Icon" width="32" height="32">
        </div>
        <div>
          <h3>Com Férias Vencidas</h3>
          <div class="value" id="kpi-overdue"></div>
        </div>
      </section>
      <section class="kpi yellow">
        <div class="icon">
          <img src="{% static 'app/icons/exclamation.svg' %}" alt="User Icon" width="32" height="32">
        </div>
        <div>
          <h3>Com Férias à Vencer</h3>
          <div class="value" id="kpi-expiring"></div>
        </div>
      </section>
      <section class="kpi green">
        <div class="icon">
          <img src="{% static 'app/icons/check-mark.svg' %}" alt="User Icon" width="32" height="32">
        </div>
        <div>
          <h3>Com Férias Abonadas</h3>
          <div class="value" id="kpi-paid"></div>
        </div>
      </section>
      <section class="kpi blue">
        <div class="icon">
          <img src="{% static 'app/icons/clock.svg' %}" alt="User Icon" width="32" height="32">
        </div>
        <div>
          <h3>Com Férias Incompletas</h3>
          <div class="value" id="kpi-incomplete-vacation"></div>
        </div>
      </section>
    </div>
  </body>
</html>
